/* Root */
:root {
	/* Colors */
	--clr-background: 45 53% 88%;
	--clr-dark-background: 45 45% 85%;
	--clr-darker-background: 45 45% 80%;
	--clr-accent-gray: 0 0% 63%;
	--clr-primary-green: 180 16% 20%;
	--clr-secondary-green: 180 16% 25%;
	--clr-darker-green: 178 18% 23%;
	--clr-lighter-green: 178 15% 44%;
	--clr-blue: 190 58% 24%;
}

/* #root {
} */

/* CSS RESET */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* increase responsiveness for images/videos */
img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

body {
	color: black;
	background-color: hsl(var(--clr-background));
}

/* Remove default margin/padding and inherit fonts */
* {
	margin: 0;
	padding: 0;
	font: inherit;
}

/* Bold Strong */
strong {
	font-weight: 600;
}

html {
	hanging-punctuation: first last;
}

/* Remove list styles on ul, ol */
ul,
ol {
	list-style: none;
}

/* Remove Default link behavior */
a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

/* Auto balance heading text */
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
	text-align: left;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.75rem;
}

/* keeps text/line length at a digestible size */
p {
	max-width: 100ch;
	/* stops text orphans, doesn't work on firefox as of Dec 5, 2025 */
	text-wrap: pretty;
}

/* CSS RESET END */

/* Page Layout */
.page-layout {
	display: grid;
	height: 100vh;
	width: 100vw;
	grid-template-columns: max-content 1fr;
}

/* Character Selector */
.character-selector {
	color: #fff;
	background-color: hsl(var(--clr-darker-green));
	width: fit-content;
	height: 100%;
}

.character-selector ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	list-style-type: none;
	margin-top: 1rem;
	text-align: center;
	min-width: 12rem;
}

.character-selector ul li {
	padding-block: 1rem;
	margin-inline: 1rem;
	background-color: hsl(var(--clr-lighter-green));
	border-radius: 0.25rem;
	transition: cubic-bezier(0.075, 0.82, 0.165, 1) background-color 0.5s;
}

.character-selector ul li:hover {
	cursor: pointer;
	background-color: hsl(var(--clr-blue));
}

.character-selector ul li#selected {
	background-color: hsl(var(--clr-blue));
}

button#createCharacterTab {
	font-family: inherit;
	cursor: pointer;
	background-color: hsl(var(--clr-lighter-green));
	border: none;
	border-radius: 0.25rem;
	text-align: center;
	font-size: 1rem;
	padding-block: 0.5rem;
	margin-inline: 1rem;
	transition: cubic-bezier(0.075, 0.82, 0.165, 1) background-color 0.5s;
}

button#createCharacterTab:hover {
	background-color: hsl(var(--clr-blue));
}

/* Character viewer */
.character-viewer {
	width: 75%;
	margin-inline: auto;
	margin-block: 3rem;
}
